<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./ratchet-2.0.2/dist/css/ratchet.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>

    <div id="container">

    </div>

    <script src="./bundle.js"></script>
  </body>
</html>
